
.box {
    display: inline-block;
    text-align: center;
    padding: 2px 10px 2px 10px;
    margin-right: 10px;
    border-style: outset;
    border-width: 2px;
    color:black;
}

.notDone {background-color:#75a689; color:#fcfbe6;}
.done {background-color:#931b1d; color:#fcfbe6;}

.tag1 {background-color:#931b1d; color:#fcfbe6;}

.col {background-color:rgb(100, 255, 191);}
.myTable {
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}